<configuration debug="false" encoding="UTF-8">

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <property name="logback.encoding" value="UTF-8"/>

    <property name="APP_NAME" value="tracking"/>

    <property name="LOG_DIR" value="logs"/>


    <property name="logback.pattern.console"
              value="%cyan(%d{yyyy-MM-dd HH:mm:ss.SSS}) %highlight(%-5level) %yellow([%thread]) %green(%logger{30}) %magenta([%X{traceId:-},%X{spanId:-}]) - %msg%n"/>


    <property name="logback.pattern"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] %logger{30} [%X{traceId:-},%X{spanId:-}] - %msg%n"/>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${logback.pattern.console}</pattern>
        </encoder>
    </appender>


    <appender name="FILE_INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${APP_NAME}-info.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>logs/${APP_NAME}-info.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${logback.pattern}</pattern>
        </encoder>
    </appender>


    <appender name="FILE_DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${APP_NAME}-debug.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level><onMatch>ACCEPT</onMatch><onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>logs/${APP_NAME}-debug.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxFileSize>300MB</maxFileSize> <!-- Each log file max 100MB -->
            <maxHistory>10</maxHistory> <!-- Keep logs for 10 days -->
            <totalSizeCap>3GB</totalSizeCap> <!-- Don't exceed 3GB total -->
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${logback.pattern}</pattern>
        </encoder>
    </appender>



    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${APP_NAME}-error.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level><onMatch>ACCEPT</onMatch><onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>logs/${APP_NAME}-error.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${logback.pattern}</pattern>
        </encoder>
    </appender>

    <appender name="FILE_JSON" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${APP_NAME}.json.log</file>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>       <!-- ONLY INFO level -->
        </filter>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                    <pattern>yyyy-MM-dd'T'HH:mm:ss.SSS'Z'</pattern>
                </timestamp>
                <version>1</version>
                <logLevel/>
                <threadName/>
                <loggerName/>
                <message/>
                <context/>
                <mdc/>
                <stackTrace>
                    <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                        <maxDepthPerThrowable>30</maxDepthPerThrowable>
                        <maxLength>2048</maxLength>
                        <shortenedClassNameLength>20</shortenedClassNameLength>
                        <rootCauseFirst>true</rootCauseFirst>
                    </throwableConverter>
                </stackTrace>
                <arguments/>
                <pattern>
                    <pattern>
                        {
                        "service": "${APP_NAME}"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/${APP_NAME}.%d{yyyy-MM-dd}.%i.json.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    // Environment-Specific Configuration
    <springProfile name="dev,uat">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="FILE_ERROR" />
            <appender-ref ref="FILE_INFO" />
            <appender-ref ref="FILE_DEBUG" />
            <appender-ref ref="FILE_JSON" />
        </root>
    </springProfile>


    <springProfile name="prod">
        <root level="info">
            <appender-ref ref="FILE_ERROR" />
            <appender-ref ref="FILE_INFO"/>
            <appender-ref ref="FILE_JSON" />
        </root>
    </springProfile>


    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN" />
    <logger name="io.micrometer" level="DEBUG" />
    <logger name="brabe" level="WARM" />
    <logger name="com.apd.ccmsapi" level="DEBUG" />
    <logger name="zipkin2" level="DEBUG" />
    <logger name="brave" level="DEBUG"/>


</configuration>